.main {
  /*min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  padding: 1%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-style: double;
  border-width: 10px;
  background-color: darkslateblue;
  color: white;
}

.header {
  display: inline;
}

.linebreak{
  width: 45%;
  border-top: 5px solid white;
  border-radius: 5px;
}

.title{
  text-align: center;
  margin: 0;
  padding: 0;
}

.description{
  text-align: center;
  font-weight: 100;
  font-size: 15px;
  margin-top: 0;
}

.card_container{
  width: 100%;
  display: flex;
}

.card{
  border-style: solid;
  background-color: tomato;
  margin: 2%;
  padding: 2%;
  flex-basis: 100%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover{
  background-color: white;
  border-color: lightcyan;
  color: black;
}

.section{
  margin-top: 1%;
  font-size: larger;
  font-weight: bolder;
}

.round_container{
  padding: 2%;
  border-style: solid;
  border-radius: 40%;
  width: 80%;
  text-align: center;
  background-color: tomato;
}

.icon{
  margin: 2%;
}

.tech_container{
  display: flex;
}

